@media screen and (max-width:2000px) {

  .call{
    gap: 38px;
    margin: 10px 0;
  }

  
    .adspages {
  
      display: block;
  
    }
  
    .ada {
  
  
      display: flex;
      justify-content: space-evenly;
      padding: 50px 30px;
    }
  
    .adsleft {
  
      width: 300px;
      padding: 30px 20px;
      margin-left: 15px;
      height: 69.9vh;
      border-radius: 15px;
    
    }
  
    .adssreach {
      color: white;
      position: relative;
      display: flex;
      margin-top: 40px;
      align-items: center;
  
      justify-content: center;
    }
  
    .adssreach input {
  
  
      height: 50px;
      border-radius: 10px;
      background-color: transparent;
      border: 7px #050F14 solid;
      width: 600px;
      color: white;
      padding-left: 30px;
    }
  
  
  
    .adssreach i {
      position: absolute;
      margin-left: 500px;
      font-size: 1.2em;
      color: aqua;
    }

    .adsleft h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 9px;
    }

    .adslines a {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }

    .adssocial {
      display: flex;
      
  
    }
  
    .adssocial ul li {
      padding: 10px;
        display: flex;
        margin-top: 16px;
        align-items: center;
        justify-content: start;
        text-transform: capitalize;
    }
  
  
    .adssocial ul li i {
  
      font-size: 1.4em;
      margin-right: 13px;
      display: flex;
      align-items: center;
    }
  
    .adsright {
      width: 100%;
      color: aliceblue;
      height: 70vh;
      border-radius: 15px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
  
  
  
    }
    .links {
      color: rgb(47, 146, 138);
  
    }
  
    .links-list {
      padding: 8px;
    }
  
  
  
    .rightadscontainer {
      display: flex;
      width: 105%;
      justify-content: center;
    }
  
    .adsrightlinks {
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 10px;
      padding: 0px 0px;
    }
  
  
    .links {
      background-color: #0D000D;
      border-radius: 8px;
      padding: 9px 40px;
      display: flex;
    }
  
  
  
    .adsrightline {
      width: 99%;
      margin-top: 4.9px;
      border: 1px solid rgba(216, 215, 215, 0.267);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0px;
    }
  
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
    
  
    .rightscrolling {
  
  
      height: calc(100% - 2rem);
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
  
    .adsimgcard img {
  
      width: 100%;
      max-width: 330px;
      object-fit: cover;
    }
  
  
    .adsimgcard {
  
      display: flex;
      flex-direction: column;
    }
  
    .adsright ul li {
  
  
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
  
    .adsright ul {
  
      display: flex;
  
    }
  
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsicons a {
      font-size: 0.8em;
      margin-left: 10px;
      color: whitesmoke;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
  
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1.1em;
      font-weight: normal;
  
  
    }
  
  
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.9em;
  
  
  
    }
  
  
  
  
  }
  
  
  @media screen  and (max-width:1918px){
    .call{
      gap: 60px;
    }
    .adsimgcard img {
      max-width: 309px;
  }
  }
  
  @media screen and (max-width:1820px) {
    .call{
      gap: 80px;
    }
    .adsimgcard img {
      max-width: 373px;
  }
  }
  @media screen and (max-width:1790px) {
  
    .call{
      gap: 60px;
    }
  
  
    .adssreach {
  
  
  
  
      margin-top: 19px;
      
  
    }
  
  
  
    .adsleft {
  
      width: 300px;
      padding: 28px 20px;
    
    }
    
  
  
    .adssreach input {
      width: 580px;
    }
  
    .adsright {
  
      width: 80%;
      border-radius: 15px;
      margin-left: 30px;
      padding: 0 0;
    }
   
  
    .links {
      color: rgb(47, 146, 138);
  
  
  
    }
  
    .links-list {
      padding: 3px;
    }
  
  
  
  
    .adsrightline {
  
  
  
      margin-left: 10px;
  
      width: 98%;
      margin-top: 4px;
     
    }
  
  
  
  
  
  
  
  
    
    .flutline a {
    
      margin-top: 10px;
      
    }
  
  
  
  
    .adsrightlinks {
  
  
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 10px;
      padding: 6.7px 0px;
    }
  
    .links {
      background-color: #0D000D;
      border-radius: 8px;
  
      padding: 7px 40px;
      display: flex;
    }
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  

  

  
  
  
    .rightscrolling {
  
  
      height: calc(100% - 1em);
      /* padding: 0 10px; */
      margin-top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .adsimgcard img {
   
  
      max-width: 370px;
    
    }
  
  
    .adsright ul li {
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
  
  
    .adsright ul {
  
      display: flex;
  
  
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsicons a {
      font-size: 0.7em;
      margin-left: 5px;
      color: whitesmoke;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1.1em;
      font-weight: normal;
  
  
    }
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.9em;
  
  
  
    }
  
  }
  @media screen and (max-width:1675px){
    .call{
      gap: 30px;
    }
  }
@media screen and (max-width:1667px) {
  
  .adsimgcard img {
    max-width: 359px;
}
  
}

  @media screen and (max-width:1652px){
    .call{
      gap: 60px;
    }
    .adsimgcard img {
      max-width: 329px;
  }
    
  }
  
  
  @media screen and (max-width:1505px) {
    .ada{
      padding: 25px 30px; 
    }
  }
  
  @media screen and (max-width:1479px) {
    .adssreach{
      margin: 10px;
    }
    .ada{
      padding: 18px 30px; 
    }
    .adsimgcard img {
      max-width: 290px;
  }
  }
  
  
  
  
  
  
  
  
  
  
  @media screen and (max-width:1399px) {
   
  
  .adssreach{
    margin-top: 55px;
  }
  
  
 
  
  
    
  
  
  
  
  
    .adsrightlinks {
  
  
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 10px;
      padding: 6.7px 0px;
    }
  
    .links {
      background-color: #0D000D;
      border-radius: 8px;
  
      padding: 7px 40px;
      display: flex;
    }
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
  
    .rightscrolling {
  
  
      height: calc(100% - 1em);
      /* padding: 0 10px; */
      margin-top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .adsimgcard img {
   
  
      max-width: 260px;
    }
  
    .adsimgcard {
  
      display: flex;
      flex-direction: column;
    }
  
    .adsright ul li {
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
  
  
    .adsright ul {
  
      display: flex;
  
  
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsicons a {
      font-size: 0.7em;
      margin-left: 5px;
      color: whitesmoke;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1.1em;
      font-weight: normal;
  
  
    }
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.9em;
  
  
  
    }
  
  }
  
  
  
  
  @media screen and (max-width:1300px) {
    .call {
      flex-wrap: wrap;
      align-items: center;
      gap: auto 90px;
      margin: 10px 0px;
      justify-content: center;
    }
  
    .adssreach {
    
  
      margin-top: 30px;
      
    }
   
    .ada{
      padding: 25px 30px; 
    }
  
  
  
    .adsleft {
      
      width: 280px;
      padding: 28px 15px;
      margin-left: 15px;
      height: 72vh;
    
  
      border-radius: 15px;
    }
  
   
  
  
  
  
  
  
  
  
  
  
    
  
    .adsright {
  
  
  
  
  
      height: 72vh;
      
   
  
    }
   
  
    .links {
      color: rgb(47, 146, 138);
  
  
  
    }
  
    .links-list {
      padding: 3px;
    }
  
  
  
  
    
  
  
  
  
    .adsrightlinks {
  
  
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 10px;
      padding: 6.7px 0px;
    }
  
    .links {
      background-color: #0D000D;
      border-radius: 8px;
  
      padding: 7px 40px;
      display: flex;
    }
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
    .rightscrolling {
  
  
      height: calc(100% - 1em);
      /* padding: 0 10px; */
      margin-top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .adsimgcard img {
   
  
      max-width: 260px;
    }
  
    .adsimgcard {
  
      display: flex;
      flex-direction: column;
    }
  
    .adsright ul li {
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
  
  
    .adsright ul {
  
      display: flex;
  
  
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsicons a {
      font-size: 0.7em;
      margin-left: 5px;
      color: whitesmoke;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1.1em;
      font-weight: normal;
  
  
    }
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.9em;
  
  
  
    }
  
  }
  @media screen and (max-width:1253px) {
  .ada{
    padding: 30px 30px;
  }
  .adsimgcard img {
    max-width: 250px;
  }
  .call{
    gap: 50px;
  }

  }
  @media screen and (max-width:1180px){
    .ada{
      padding: 36px 30px;
    }
    .adssreach{
      margin-top: 37px;
    }
  } 
  
  @media screen and (max-width:1277px) {
    .adsimgcard img {
      max-width: 250px;
    }
  
  }
  
  @media screen and (max-width:1251px) {
    .adsimgcard img {
      max-width: 230px;
    }
  
  }
  
  
  
  @media screen and (max-width:1025px) {

  
  
    .adssreach {
      
      margin-top: 30px;
      
    }
  
  
    .adssreach input {
  
  
      height: 48px;
     
  
      width: 560px;
      
    }
  
  
    .adssreach i {
      margin-left: 433px;
      font-size: 1em;
    }
  
  
  
  
    .ada {
      padding: 32px 0px;
    }
  
    .adsleft {
   
  
     display: block;
      padding: 15px 15px;
  
    
    }
  
  
  
  
   
  
  
    .adsleft h1 {
    
      font-size: 1.2em;
   
      margin-bottom: 13.8px;
    }
  
  
    .adssocial ul li i {
  
      font-size: 1.2em;
      
    }
  
  
  
  
  
  
    .rightadscontainer {
      display: flex;
      justify-content: center;
    }
  
  
    .adsright {
  
  
  
  margin-right: 19px;
      width: 74%;
   
     
      padding: 6px 0px;
  
  
  
    }
  
  
  
   
  
    .links {
      color: rgb(47, 146, 138);
  
    }
  
  
  
    .adsrightlinks {
  
  
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 7px;
      padding: 0px 0px;
    }
  
    .links {
      background-color: #0D000D;
      border-radius: 7px;
      padding: 10px 40px;
      display: flex;
    }
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
    .rightscrolling {
  
  
      height: calc(100% - 1em);
      /* padding: 0 10px; */
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .adsimgcard img {
      max-width: 250px;
    }
  
  
    .adsimgcard {
  
      display: flex;
      flex-direction: column;
    }
  
  
  
    .adsright ul li {
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
    .adsright ul {
  
      display: flex;
  
    }
  
    .adsicons i {
      padding: 0px 2px;
      color: whitesmoke;
    }
  
  
    .adsicons a {
      font-size: 0.5em;
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons {
      color: whitesmoke;
      padding: 0px 5px;
      overflow: hidden;
      font-size: 0.8rem;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 0.7em;
      font-weight: normal;
  
  
    }
  
  
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.5em;
  
  
  
    }
  
  }
  
  
  
  
  @media screen and (max-width:900px) {
    .call {
      margin: 0px 0px;
      gap: 50px;
    }
  
    .adspages {
      display: block;
    }
  
    .ada {
      /* height: 950px; */
      display: block;
      padding: 15px 15px;
    }
  
    .adsimgcard img {
      max-width: 180px;
    }
    
    .adsrightline {
      display: none;
    }
  
    .adsleft {
      height: 900%;
      padding: 4px 4px;
      margin-left: 0px;
      border-radius: 0px;
      display: block;
      width: 100%;
      /* align-items: center; */
    }
  
    .adssreach {
      color: white;
      display: flex;
      margin-top: 50px;
      align-items: center;
      justify-content: center;
    }
  
    .adssreach input {
      height: 50px;
      width: 580px;
    }
  
    .adssreach i {
      display: none;
    }
    
    .adslines a {
      
      display: none;
    
    }
 
    
  
    .adssocial {
  
      margin: 0;
      overflow: hidden;
      /* width: 100%; */
      display: flex;
      justify-content: center;
  
    }
  
  
  
    .adssocial ul {
      display: flex;
      /* align-items: center; */
    }
  
   

    .adsleft h1{
      /* margin-bottom: 5px; */
      /* padding: 5px; */
      /* margin-top: 11px; */
      margin: 0;
      font-size: 1.5em;
    }
  
  
    .adssocial ul li {
       display: flex;
       align-items: center;
       padding: 8px 38px;
       margin: 0;
       font-size: 1.3em;
    }
  
  
    .adssocial ul li i {
      display: flex;
      justify-content: center;
      /* align-items: center; */
    }
  
  
    .links {
      background-color: #0D000D;
      color: rgb(47, 146, 138);
      padding: 6px 20px;
      display: flex;
    }
  
    .adsright {
      margin-top: 5px;
      display: block;
      width: 100%;
      
      margin-left: 0px;
      color: whitesmoke;
      padding: 5px 0px;
    }
  
    .adsicons a {
      font-size: 0.6em;
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsrightlinks {
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .adsrightlinks li {
      list-style-type: none;
      margin-right: 10px;
    }

    .adsright ul{
      margin-left: 0px;
      padding: 0px 0px;
    }
  
    .adssocial span {
      display: none;
    }
  
    .links-list .links {
      font-size: 1em;
      padding: 10px 19px;
    }
  
    .links-list {
      display: inline-flex;
      padding: 10px;
    }
  
    .rightscrolling {
      overflow-y: scroll;
      height: 90%;
      padding: 0 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .adsimgcard img {
      height: auto;
      width: 270px;
      border-radius: 10px;
    }
  
    .addetails {
      display: block;
    }
  
    .adsinfo h1 {
      font-size: 1em;
      font-weight: normal;
    }

    .adsinfo a {  
      font-size: 0.7em;
    }
  
  }
  
  @media screen and (max-width:656px) {
    .adssreach input { 
      width: 540px;
    }
  
  }

  @media screen and (max-width:600px) {
    .call { 
      margin: 0px 0px;
      gap: 30px;
    }
    
    .adspages {
      display: block;
    }
  
    .adsright ul{
      margin-left: 0px;
      padding: 0px 0px;
    }
  
    .ada {
      display: block;
      padding: 15px 15px;
    }
  
    .adsrightline {
      display: none;
    }
  
    .adsleft {
      height: 900%;
      padding: 4px 4px;
      margin-left: 0px;
      border-radius: 0px;
    }
  
    .adssreach {
      color: white;
      display: flex;
      margin-top: 40px;
      align-items: center;
      justify-content: center;
    }
  
    .adssreach input {
      height: 50px;
      width: 350px;
    }
  
    .adssreach i {
      display: none;
    }
  
    .adsleft h1 {
      /* display: flex;
      align-items: center;
      padding: 15px; */
      font-size: 1.6em;
    }
    
    .adsline a {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }

    .adssocial {  
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .adssocial ul {
      display: flex;
      align-items: center;
    }
  
    .adsleft {  
      display: block;
      width: 100%;
      align-items: center;
    }

    .adsleft h1{
      margin-bottom: 0px;
    }
  
  
    .adssocial ul li {
      display: flex;
      padding: 6px 10px;
      font-size: 1.1em;
    }
  
    .adssocial ul li i {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .links {
      background-color: #0D000D;
      color: rgb(47, 146, 138);
      padding: 6px 20px;
      display: flex;
    }
  
    .adsright {
      margin-top: 30px;
      display: block;
      width: 100%;
      height: auto;
      margin-left: 0px;
      color: whitesmoke;
      padding: 6px 0px;
    }
  
    .adsicons a {
      font-size: 0.6em;
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsrightlinks {
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .adsrightlinks li {
      list-style-type: none;
      margin-right: 10px;
    }
  
    .adssocial span {
      display: none;
    }
  
    .links-list .links {
      font-size: 1em;
      padding: 10px 19px;
    }
  
    .links-list {
      display: inline-flex;
      padding: 10px;
    }
  
    .rightscrolling {
      overflow-y: scroll;
      height: 550px;
      padding: 0 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .adsimgcard img {
      height: auto;
      width: 210px;
      border-radius: 20px;
    }
  
    .addetails {
      display: block;
    }
  
    .adsinfo h1 {
      font-size: 1em;
      font-weight: normal;
    }

    .adsinfo a {  
      font-size: 0.7em;
    }
  
  }
  
  
  
  @media screen and (max-width:460px) {
    .call {
      margin: 10px 0px;
      gap: 20px;
    }
  
    .adspages {
      display: block;
    }
    .adsright ul{
      margin-left:-15px;
      padding: 0px 0px;
    }
  
    .ada {
      display: block;
      padding: 10px 15px;
    }

    .adsrightline {
      display: none;
    }
  
    .adsleft {
      height: 900%;
      padding: 4px 4px;
      margin-left: 0px;
      border-radius: 0px;
    }
  
    .adssreach {
      color: white;
      display: flex;
      margin-top: 40px;
      align-items: center;
      justify-content: center;
    }
  
    .adssreach input {
      height: 50px;
      width: 300px;
    }

    .adssreach i {
      display: none;
    }
  
    .adsleft h1 {
      /* display: flex;
      align-items: center;
      padding: 15px; */
      font-size: 1.6em;
    }
  
    .adsline a {
      display: none;
    }
 
    .adssocial {
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
  
    }

    .adssocial ul {
      display: flex;
    }

    .adsleft {
      display: block;
      width: 100%;
      align-items: center;
    }

    .adsleft h1{
      margin: 0;
    }
  
    .adssocial ul li {
      display: flex;
      /* padding: 6px 10px; */
      margin: 0;
      font-size: 1.1em;
    }
  
    .adssocial ul li i {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .links {
      background-color: #0D000D;
      color: rgb(47, 146, 138);
      padding: 6px 20px;
      display: flex;
    }
  
    .adsright {
      margin-top: 20px;
      display: block;
      width: 100%;
      margin-left: 0px;
      color: whitesmoke;
      padding: 10px 10px;
    }
    
    .adsicons a {
      font-size: 0.6em;
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsrightlinks {
      overflow-x: auto;
      white-space: nowrap;
    }
  
    .adsrightlinks li {
      list-style-type: none;
      margin-right: 10px;
    }
  
    .adssocial span {
      display: none;
    }
  
    .links-list .links {
      font-size: 1em;
      padding: 10px 19px;
    }

    .links-list {
      display: inline-flex;
      padding: 10px;
    }
  
    .rightscrolling {
      overflow-y: scroll;
      height: 555px;
      padding: 0 0px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .adsimgcard img {
      height: auto;
      width: 170px;
      border-radius: 20px;
    }
  
    .addetails {
      display: block;
    }

    .adsinfo h1 {
      font-size: 1em;
      font-weight: normal;
    }
  
    .adsinfo a {
      font-size: 0.7em;
    }
  
  }

  @media screen and (max-width:412px) {
    .rightscrolling{
      height: 400px;
      overflow-y: auto;
    }

  }
  
  @media screen and (max-width:414px) {
    .rightscrolling{
      height: 420px;
      overflow-y: auto;
    }

  }

  @media screen and (max-width: 430px){
    .rightscrolling{
      height: 580px;
    }

  }
  
  @media screen and (max-width:409px) {
    .call {
      margin: 0px 0px;
      gap: 16px;
    }

    .adsinfo{
      margin-top: 5px;
    }
  
    .adspages {
      display: block;
    }
  
    .ada {
      display: block;
      padding: 0px 15px;
    }
  
  
    
    .adsrightline {
      display: none;
    }
  
    .adsleft {
      height: 900%;
      padding: 4px 4px;
      margin-left: 0px;
      border-radius: 0px;
    }
  
  
    .adssreach {
      color: white;
      display: flex;
      margin-top: 40px;
      align-items: center;
      justify-content: center;
    }
  
    .adssreach input {
      height: 50px;
      width: 300px;
    }
  
    .adssreach i {
      display: none;
    }

    .adsleft h1 {
      /* display: flex;
      align-items: center;
      padding: 15px; */
      font-size: 1.6em;
    }

    .adsline a {
     flex: none;
    }

    .adssocial {
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .adssocial ul {
      display:flex;
    }
  
    .adsleft {
      display: block;
      justify-content: center;
      width: 100%;
      align-items: center;
    }

    .adsleft h1{
      margin: 0;
    }
  
    .adssocial ul li { 
      display: flex;
      /* padding: 6px 10px; */
      margin: 0;
      font-size: 1.1em;
    }

    .adssocial ul li i {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .links {
      background-color: #0D000D;
      color: rgb(47, 146, 138);
      padding: 6px 20px;
      display: flex;
    }
  
    .adsright {
      margin-top: 30px;
      display: block;
      width: 100%;
      height: 600px;
      margin-left: 0px;
      color: whitesmoke;
      padding: 10px 10px;
    }
  
    .adsicons a {
      font-size: 0.6em;
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsrightlinks {
      overflow-x: auto;
      white-space: nowrap;
  
    }
  
    .adsrightlinks li {
      list-style-type: none;
      margin-right: 10px;
    }
  
    .adssocial span {
      display: none;
    }
  
    .links-list .links {
      font-size: 1em;
      padding: 10px 19px;
    }

    .links-list {
      display: inline-flex;
      padding: 10px;
    }
  
    .rightscrolling {
      overflow-y: scroll;
      height: 510px;
      padding: 0 0px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .adsimgcard img {
      height: auto;
      width: 160px;
      border-radius: 10px;
  
    }
 
    .addetails {
      display: block;
    }

    .adsinfo h1 {
      font-size: 0.8em;
      font-weight: normal;
    }

    .adsinfo a {
      font-size: 0.6em;
    }
  
  }

  @media screen and (max-width:376px){
    .adsright {
      margin-top: 30px;
      display: block;
      width: 100%;
      margin-left: 0px;
      color: whitesmoke;
      padding: 10px 10px;
    }

    .call{
      margin: 0px 0px;
      gap: 14px;
    }

    .adsimgcard img {
      height: auto;
      width: 150px;
      border-radius: 10px;
    }

    .rightscrolling {
      overflow-y: scroll;
      height: 360px;
      padding: 0 0px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  }
  
  @media screen and (max-width:360px){
    .adssreach input {
      height: 50px;
      width: 250px;
    }
  
    .call{
      margin: 0px 0px;
      gap: 10px;
    }

    .rightscrolling {
      height: 560px;
    }

    .adsimgcard img {
      height: auto;
      border-radius: 10px;
    }

  }

  @media screen and (max-width:355px) {
    .call{
      margin: 0px 0px;
      gap: 7px;
    }

    .rightscrolling {
      height: 514px;
    }

    .adsimgcard img {
      height: auto;
      width: 130px;
      border-radius: 10px;
  
    }

  }
                                   
    .links-list{
     white-space: nowrap;
     overflow-x: auto;
     -ms-overflow-style: none;
     scrollbar-width: none;
    }  
 
    .adsrightlinks::-webkit-scrollbar {
     display: none;
    }
 
    .link-list li{
     list-style-type: none;
     margin-right: 10px;
    }
 
    .links-list .link{
  @media (max-width:375px) {
      font-size: 1em;
    }

  }

    .links-list{
      white-space: nowrap;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }  

    .adsrightlinks::-webkit-scrollbar {
      display: none;
    }

    .adsleft{
      color:  rgb(47, 146, 138);
      text-transform: capitalize;
      background-color: #050F14;
    }

    .adsleft span{
  @media (max-width:400px) {
      display: none;
    }

    }

    .adsright {
      background-color: #050F14;
    }

    .rightscrolling::-webkit-scrollbar {
      display: none; 
    }
  
    .rightscrolling {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }

    .call {
    display: flex;
    }