    


@media  screen and (min-width:500px) and (max-width:699px) {
  .navbar ul li .link {
    font-size: 1.2rem;
  }
  .navbar img {
    height: 90px;
  }


  .navbar {
    display: flex;
    align-items: center;
    
}
.navbutton button {

    border: 1px solid rgb(46, 183, 236); 
    padding: 8px 16px; 
    cursor: pointer; 

}

.navheader {
    display: none;
    align-items: center;
    color: blue;
}

.navbar ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 0 30px;
    font-weight: normal;
}

.navbar ul li .link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 1em;
  
}


.navbutton {
    display: flex;
    align-items: center;



}


.header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;}
}




@media  screen and (min-width:700px) and (max-width:1023px) {
  .navbar ul li .link {
    font-size: 0.9rem;
  }
  .navbar img {
    height: 90px;
  }


  .navbar {
    display: flex;
    align-items: center;
    
}
.navbutton button {

    border: 1px solid rgb(46, 183, 236); 
    padding: 8px 16px; 
    cursor: pointer; 

}

.navheader {
    display: flex;
    align-items: center;
    color: blue;
}

.navbar ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 0 30px;
    font-weight: normal;
}

.navbar ul li .link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 1em;
  
}


.navbutton {
    display: flex;
    align-items: center;
    color: blue;
}


    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;}
}



@media screen and (min-width:1024px) and (max-width:1399px) {

  .navbar ul li .link {
    font-size: 1.2rem;
  }
  .navbar img {
    height: 60px;
  }
  .navbar {
    display: flex;
    align-items: center;
    
}
.navbutton button {

    border: 1px solid rgb(46, 183, 236); 
    padding: 8px 16px; 
    cursor: pointer; 

}

.navheader {
    display: flex;
    align-items: center;
    color: blue;
}

.navbar ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 0 30px;
    font-weight: normal;
}

.navbar ul li .link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
  
}


.navbutton {
    display: flex;
    align-items: center;
    color: blue;



}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0px 20px;}

}


@media screen and (min-width:1400px) and (max-width:1500px) {
  .navbar ul li .link {
    font-size: 1.2rem;
  }
  .navbar img {
    height: 90px;
  }
  .navbar {
    display: flex;
    align-items: center;
    
}
.navbutton button {

    border: 1px solid rgb(46, 183, 236); 
    padding: 8px 16px; 
    cursor: pointer; 

}

.navheader {
    display: flex;
    align-items: center;
    color: blue;
}

.navbar ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 0 30px;
    font-weight: normal;
}

.navbar ul li .link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
  
}


.navbutton {
    display: flex;
    align-items: center;
    color: blue;



}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;}
}

@media screen and (min-width:1501px) and (max-width:1699px){
  .navbar ul li .link {
    font-size: 1.1rem;
  }
  .navbar img {
    height: 90px;
  }
  .navbar {
    display: flex;
    align-items: center;
    
}
.navbutton button {

    border: 1px solid rgb(46, 183, 236); 
    padding: 8px 16px; 
    cursor: pointer; 

}

.navheader {
    display: flex;
    align-items: center;
    color: blue;
}

.navbar ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 0 40px;
    font-weight: normal;
}

.navbar ul li .link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
  
}


.navbutton {
    display: flex;
    align-items: center;
    color: blue;



}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;}
}




@media screen and (min-width:1700px) and (max-width:1999px){
  .navbar ul li .link {
    font-size: 1.1rem;
  }
  .navbar img {
    height: 90px;
  }
  .navbar {
    display: flex;
    align-items: center;
    
}
.navbutton button {

    border: 1px solid rgb(46, 183, 236); 
    padding: 8px 16px; 
    cursor: pointer; 

}

.navheader {
    display: flex;
    align-items: center;
    color: blue;
}

.navbar ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 0 40px;
    font-weight: normal;
}

.navbar ul li .link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
  
}


.navbutton {
    display: flex;
    align-items: center;
    color: blue;



}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px;}
}




@media screen and (min-width:2000px) and (max-width:2999px){
  .navbar ul li .link {
    font-size: 1.3rem;
  }
  .navbar img {
    height: 100px;
  }
  .navbar {
    display: flex;
    align-items: center;
    
}
.navbutton button {

    border: 1px solid rgb(46, 183, 236); 
    padding: 8px 16px; 
    cursor: pointer; 

}

.navheader {
    display: flex;
    align-items: center;
    color: blue;
}

.navbar ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 0 40px;
    font-weight: normal;
}

.navbar ul li .link {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
  
}


.navbutton {
    display: flex;
    align-items: center;
    color: blue;



}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;}
}





















    .header {
       

        @media (max-width: 500px) {
            display: none;
        } 

        @media (min-width: 1440px) {
            display: flex;
            align-items: center;
        }
    }







    

.navbuttonicon{

 
  @media (min-width:600px)  and (max-width:1236px) {
    font-size: 1.4em;

  }


  @media (min-width:1236px)  and (max-width:1999px) {
    font-size: 2.3em;

  }

  @media (min-width:2000px) and (max-width:2560px){
    font-size: 3em;

  }



}


    .navbutton i {

        color:  rgb(47, 146, 138);
        cursor: pointer; 



        
        @media (min-width:600px)  and (max-width:1999px) {
          font-size: 1.1em;
          background-color: transparent;
        }

        @media (min-width:2000px) and (max-width:2560px){
          background-color: transparent;

        }

    }


    .sidenav {
        display: none;
        @media (max-width: 699px) {
                display: flex;
                justify-content: center;
                align-items: center;
        }
        
    }









   
    .sideimge {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sideimge img {
        height: 100px;
    }


    
    
    .sidemenu {
        display: flex;
        color: white;
        justify-content: start;
        align-items: center;
        position: relative;
    }
    
    .sidemenu i {
        font-size: 1.3em;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);    
    }
    
    .sideimage {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sideimage img {
        height: auto;
        width: 100px;
    }


  
.sidenavmenu{
    position:absolute;
    margin-bottom: 200px;
    display: none;
    @media (max-width: 490px) {
          display: block;
    justify-content: center;
    width: 200px;
    height: 100vh;
    padding: 10px 0px;
    background-color: gray;

}

}


  .sidenavmenu ul{
    background-color: transparent;
    text-align: center;
  }

  .sidenavmenu ul li{
    background-color: transparent;
  }

  .sidenavmenu ul li .link{
    background-color: transparent;
  }

  .sidenavbutton button{
   color: whitesmoke;

  }

  .sidenavbutton {

   width: 170px;
   display: flex;
   justify-content: center;
   background-color: transparent;
  }
  .sidenavul{

    display: flex;
    justify-content: center;
    background-color: transparent;
    
}

.header2 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    margin: 1rem;
  }
  
  .nav__logo {
    color: white;
    transition: color 0.4s;
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
  }
  
  .nav__toggle,
  .nav__close {
    font-size: 1.5rem;
    color:white;
    cursor: pointer;
  }
  
  .nav__cta {
    background-color: white;
    color: var(--title-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.75rem 1.5rem;
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
  }
  
  .nav__link:hover {
    color: var(--first-color);
  }
  
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  
  .show-menu {
    right: 0;
  }
  
  .nav__list__web {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }
  
  
  .header2 {
    display: none;
  }
  
  @media (max-width: 600px) {
    .header2 {
      display: block; 
      position: absolute;

      width: 100%;
      top: 0;
      left: 0;
      background-color: transparent;
      z-index: var(--z-fixed);
      margin-top: 20px;
      transition: opacity 0.3s ease; 
      opacity: 1; 
    }
  
    .header2.hidden {
      opacity: 0; 
      pointer-events: none; 
    }
  }
  .placeholder {
    height: var(--header-height); 
  }
  
  .nav {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    margin: 1rem;
  }
  
  .nav__logo {
    color: var(--first-color);
    transition: color 0.4s;
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
  }
  
  .nav__toggle,
  .nav__close {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  
  .nav__cta {
    background-color: var(--first-color);
    color: var(--title-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.75rem 1.5rem;
  }
  
  @media screen and (max-width: 1150px) {
    .nav__menu {
      position: fixed;
      top: 0;
      right:   -100%;
      background-color: hsla(0, 0%, 6%, 0.2);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      width: 80%;
      height: 100%;
      padding: 6rem 3rem 0;
      transition: right 0.4s;
    }
  }
  @media screen and (max-width: 300px) {
    .nav__menu {
      padding: 4rem 1rem 2rem;
      
    }
  
    .nav__list {
      row-gap: 1rem;
      
    }
  
    .nav__link,
    .nav__cta {
      font-size: var(--smaller-font-size);
    }
  
    .nav__cta {
      padding: 8px 16px;
      font-size: 12px;
      margin-top: 1rem;
      width: auto;
      white-space: nowrap;
    }
  }
  .nav__link ul li{
  color: aqua;
  }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: transparent; 
    list-style-type: none; 
    padding: 0; 
  }
  .nav__link {
    font-weight: var(--font-semi-bold);
    transition: color 0.4s;
    background-color: transparent;

  }
  
  .nav__link:hover {
    color: white;
  }
  
  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  .header2{
    color: white;
    display: none;
    margin-top: 5px;
    @media (max-width: 698px) {
        display: flex;
        justify-content: flex-end;

}
  }
  .show-menu {
    right: 0;
  }
  .nav__listt {
    display: flex;
    flex-direction: row;
    
    column-gap: 2.5rem;
  }
  
  .nav__menu_mobile {
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }
  @media screen and (min-width: 1150px) {
    .nav {
      height: calc(var(--header-height) + 1rem);
    }
    .nav__toggle,
    .nav__close {
      display: none;
      
    }
  
    .nav__list {
      flex-direction: row;
      column-gap: 2.5rem;
    }
  }
  
  .header2 img{
    height: 20px;
    
}

.linkss{


  @media screen and (min-width:700px) and (max-width:999px) {
    color:  rgb(47, 146, 138);
   border: 1px solid;
   padding: 5px 20px;
  }



@media screen and (min-width:1000px) and (max-width:1199px) {
  color:  rgb(47, 146, 138);
 border: 1px solid;
 padding: 3px 20px;
 font-size: 0.7rem;

}
@media screen and (min-width:1200px) and (max-width:1400px) {
  color:  rgb(47, 146, 138);
 border: 1px solid;
 font-size: 1em;

 padding: 3px 20px;
}
@media screen and (min-width:1400px) and (max-width:1600px) {
  color:  rgb(47, 146, 138);
 border: 1px solid;
 font-size: 1em;

 padding: 5px 24px;
}
@media screen and (min-width:1601px) and (max-width:2000px) {
  color:  rgb(47, 146, 138);
 border: 1px solid;
 padding: 8px 27px;
}
@media screen and (min-width:2001px) and (max-width:3000px) {
  color:  rgb(47, 146, 138);
 border: 1px solid;
 padding: 9px 29px;
 font-size: 1.3em;
}

  
}
