@media screen and (max-width:2000px) {

  .call{
    gap: 37px;
    margin: 10px 0;
  }
    .fliterbutton {
      display: none;
    }
  
    .adspages {
  
      display: block;
  
    }
  
  
    .closememu {
      display: none;
    }
  
  
    .ada {
  
  
      display: flex;
      justify-content: space-evenly;
      padding: 45px 30px;
    }
  
    .productleft {
  
      width: 300px;
      padding: 30px 20px;
      margin-left: 15px;
      height: 69.9vh;
      border-radius: 15px;
    
    }
  
    .adssreach {
      color: white;
      position: relative;
      display: flex;
      margin-top: 20px;
      align-items: center;
  
      justify-content: center;
    }
  
    .adssreach input {
  
  
      height: 50px;
      border-radius: 10px;
      background-color: transparent;
      border: 7px #050F14 solid;
      width: 600px;
      color: white;
      padding-left: 30px;
    }
  
  
  
    .adssreach i {
  
  
  
  
  
  
      position: absolute;
  
      margin-left: 500px;
      font-size: 1.2em;
      color: aqua;
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
    
  
  
  
    .productleft h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 9px;
    }
  
  
    .adsline a {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  
  
    .flittercat {
      margin-top: 14px;
    }
  
    .amazon-trigger {
      cursor: pointer;
    }
  
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.1s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-100%);
    }
  
  
    .translatedDivs {
  
      transition: transform 0.3s;
    }
  
    .flutlines a {
      content: "";
      display: flex;
      align-items: center;
      margin-top: 18px;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  
    .flutline a {
      content: "";
      display: flex;
      align-items: center;
      margin-top: 9px;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  
  
    .productsocial {
      display: flex;
      justify-content: center;
  
    }
  
    .productsocial ul li {
      padding: 8px;
      display: flex;
      margin-top: 10px;
      margin-left: 7px;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
    }
  
  
    .productsocial ul li i {
  
      font-size: 1.4em;
      margin-right: 13px;
      display: flex;
      align-items: center;
    }
  
    .proright {
      width: 100%;
      color: aliceblue;
      height: 70vh;
      border-radius: 15px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      padding: 0 10px;
  
  
  
    }
  
  
  
    .links {
      color: rgb(47, 146, 138);
  
    }
  
    .links-list {
      padding: 8px;
    }
  
    .buttonofleftscolling {
      background: none;
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
  
    .leftscoll h1 {
      display: flex;
      margin-top: 10px;
      justify-content: start;
      font-weight: 600;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px;
      font-size: 1.1rem;
    }
  
  
    .rightadscontainer {
      display: flex;
      width: 105%;
      justify-content: center;
    }
  
    .prorightlinks {
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 10px;
      padding: 0px 0px;
    }
  
  
    .links {
      background-color: #0D000D;
      border-radius: 8px;
      padding: 9px 40px;
      display: flex;
    }
  
  
  
    .prorightline {
  
  
  
  
  
      width: 99%;
      margin-top: 4.9px;
      border: 1px solid rgba(216, 215, 215, 0.267);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0px;
    }
  
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
    .catsocial {
      display: flex;
      justify-content: center;
      max-height: 360px;
      overflow-y: auto;
    }
  
    .cat-social-list li {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .cat-social-list li a {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 0.99rem;
      padding: 4.8px 10px;
    }
  
    .rightscrolling {
  
  
      height: calc(100% - 2rem);
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
  
    .adsimgcard img {
  
      width: 100%;
      max-width: 319px;
      object-fit: cover;
    }
  
  
    .adsimgcard {
  
      display: flex;
      flex-direction: column;
    }
  
    .proright ul li {
  
  
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
  
    .proright ul {
  
      display: flex;
  
    }
  
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsicons a {
      font-size: 0.8em;
      margin-left: 10px;
      color: whitesmoke;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
  
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1.1em;
      font-weight: normal;
  
  
    }
  
  
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.9em;
  
  
  
    }
  
  
  
  
  }
  
  
  
  
  @media screen and (max-width:1790px) {
  
  
  
  
    .adssreach {
  
  
  
  
      margin-top: 19px;
      
  
    }
  
  
  
    .productleft {
  
      width: 300px;
      padding: 28px 20px;
    
    }
    
  
  
    .adssreach input {
      width: 580px;
    }
  
    .proright {
  
      width: 80%;
      border-radius: 15px;
      margin-left: 30px;
      padding: 0 0;
    }
   
  
    .links {
      color: rgb(47, 146, 138);
  
  
  
    }
  
    .links-list {
      padding: 3px;
    }
  
  
  
  
    .prorightline {
  
  
  
      margin-left: 10px;
  
      width: 98%;
      margin-top: 4px;
     
    }
  
  
  
  
  
  
  
  
    
    .flutline a {
    
      margin-top: 10px;
      
    }
  
  
  
  
    .prorightlinks {
  
  
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 10px;
      padding: 6.7px 0px;
    }
  
    .links {
      background-color: #0D000D;
      border-radius: 8px;
  
      padding: 7px 40px;
      display: flex;
    }
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
    .flittercat h1 {
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      margin-top: 10px;
    }
  
    .catsocial {
  
      max-height: 300px;
    }
  
  
  
    .leftscoll h1 {
      display: flex;
      justify-content: start;
      font-weight: 600;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px;
      font-size: 1.1rem;
    }
  
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-8%);
    }
  
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.1s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-100%);
    }
  
  
  
  
    .rightscrolling {
  
  
      height: calc(100% - 1em);
      /* padding: 0 10px; */
      margin-top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .adsimgcard img {
   
  
      max-width: 290px;
    
    }
  
  
    .proright ul li {
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
  
  
    .proright ul {
  
      display: flex;
  
  
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsicons a {
      font-size: 0.7em;
      margin-left: 5px;
      color: whitesmoke;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1.1em;
      font-weight: normal;
  
  
    }
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.9em;
  
  
  
    }
  
  }
  
  
  @media screen and (max-width:1399px) {
   
  
  .adssreach{
    margin-top: 55px;
  }
  
  
  
  
    .catsocial {
  
      max-height: 400px;
    }
  
  
  
  
    
  
  
  
  
  
    .prorightlinks {
  
  
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 10px;
      padding: 6.7px 0px;
    }
  
    .links {
      background-color: #0D000D;
      border-radius: 8px;
  
      padding: 7px 40px;
      display: flex;
    }
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
    .flittercat h1 {
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      margin-top: 10px;
    }
  
   
  
    .cat-social-list li {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .cat-social-list li a {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 0.99rem;
      padding: 3.5px 10px;
    }
  
    .buttonofleftscolling {
      background: none;
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
  
    .leftscoll h1 {
      display: flex;
      justify-content: start;
      font-weight: 600;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px;
      font-size: 1.1rem;
    }
  
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-8%);
    }
  
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.1s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-100%);
    }
  
  
  
  
    .flutlines a {
      content: "";
      display: flex;
      align-items: center;
      margin-top: 23px;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  
  
    .rightscrolling {
  
  
      height: calc(100% - 1em);
      /* padding: 0 10px; */
      margin-top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .adsimgcard img {
   
  
      max-width: 260px;
    }
  
    .adsimgcard {
  
      display: flex;
      flex-direction: column;
    }
  
    .proright ul li {
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
  
  
    .proright ul {
  
      display: flex;
  
  
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsicons a {
      font-size: 0.7em;
      margin-left: 5px;
      color: whitesmoke;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1.1em;
      font-weight: normal;
  
  
    }
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.9em;
  
  
  
    }
  
  }
  
  
  
  @media screen and (max-width:1300px) {
    .call {
      flex-wrap: wrap;
      align-items: center;
      gap: auto 90px;
      margin: 10px 0px;
      justify-content: center;
    }
  
  
  
  
  
    .productleft {
      
      width: 280px;
      padding: 28px 15px;
      margin-left: 15px;
      height: 72vh;
    
  
      border-radius: 15px;
    }
  
   
  
  
  
  
  
  
  
  
  
  
    
  
    .proright {
  
  
  
  
  
      height: 72vh;
      
   
  
    }
   
  
    .links {
      color: rgb(47, 146, 138);
  
  
  
    }
  
    .links-list {
      padding: 3px;
    }
  
  
  
  
    
  
  
  
  
    .prorightlinks {
  
  
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 10px;
      padding: 6.7px 0px;
    }
  
    .links {
      background-color: #0D000D;
      border-radius: 8px;
  
      padding: 7px 40px;
      display: flex;
    }
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
    .flittercat h1 {
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      margin-top: 10px;
    }
  
   
  
    .cat-social-list li {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    .cat-social-list li a {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 0.99rem;
      padding: 3.5px 10px;
    }
  
    .buttonofleftscolling {
      background: none;
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
  
    .leftscoll h1 {
      display: flex;
      justify-content: start;
      font-weight: 600;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px;
      font-size: 1.1rem;
    }
  
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-8%);
    }
  
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.1s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-100%);
    }
  
  
  
  
    .flutlines a {
      content: "";
      display: flex;
      align-items: center;
      margin-top: 23px;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  
  
    .rightscrolling {
  
  
      height: calc(100% - 1em);
      /* padding: 0 10px; */
      margin-top: 19px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .adsimgcard img {
   
  
      max-width: 260px;
    }
  
    .adsimgcard {
  
      display: flex;
      flex-direction: column;
    }
  
    .proright ul li {
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
  
  
    .proright ul {
  
      display: flex;
  
  
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .adsicons a {
      font-size: 0.7em;
      margin-left: 5px;
      color: whitesmoke;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1.1em;
      font-weight: normal;
  
  
    }
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.9em;
  
  
  
    }
  
  }
  
  @media screen and (max-width:1180px){
    .ada{
      padding: 36px 30px;
    }
    .adssreach{
      margin-top: 37px;
    }
  } 
  @media screen and (max-width:1025px) {
   
    .buttonofleftscolling {
      background: none;
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
  
  
  
  
    .leftscoll h1 {
      display: flex;
      justify-content: start;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px;
      font-size: 1.1rem;
    }
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-6%);
    }
  
  
    .adssreach {
      
      margin-top: 30px;
      
    }
  
  
    .adssreach input {
  
  
      height: 48px;
     
  
      width: 560px;
      
    }
  
  
    .adssreach i {
      margin-left: 433px;
      font-size: 1em;
    }
  
  
  
  
    .ada {
      padding: 32px 0px;
    }
  
    .productleft {
   
  
      padding: 25px 15px;
    
  
      height: 72vh;
  
    
    }
  
   
   
  
    .flittercat h1 {
      display: flex;
      margin-top: 10px;
      font-size: 1em;
      justify-content: center;
    }
  
  
   
  
  
    .productleft h1 {
    
      font-size: 1.2em;
   
      margin-bottom: 13.8px;
    }
  
    .leftscoll h1 {
      display: flex;
      padding: 0px 10px;
      justify-content: start;
  
    }
  
  
    .productsocial ul li i {
  
      font-size: 1.2em;
      
    }
  
  
  
  
  
  
    .rightadscontainer {
      display: flex;
      justify-content: center;
    }
  
  
    .proright {
  
  
  
  margin-right: 19px;
      width: 74%;
   
     
      padding: 6px 0px;
  
  
  
    }
  
  
  
   
  
    .links {
      color: rgb(47, 146, 138);
  
    }
  
  
  
    .prorightlinks {
  
  
  
      display: flex;
      justify-content: flex-start;
      margin-left: 15px;
      margin-top: 7px;
      padding: 0px 0px;
    }
  
    .links {
      background-color: #0D000D;
      border-radius: 7px;
      padding: 10px 40px;
      display: flex;
    }
  
    .rightscrolling {
      overflow-y: scroll;
  
    }
  
    .rightscrolling {
  
  
      height: calc(100% - 1em);
      /* padding: 0 10px; */
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .adsimgcard img {
      max-width: 250px;
    }
  
  
    .adsimgcard {
  
      display: flex;
      flex-direction: column;
    }
  
  
  
    .proright ul li {
      padding: 0px 22px;
      font-size: 1em;
  
    }
  
    .proright ul {
  
      display: flex;
  
    }
  
    .adsicons i {
      padding: 0px 2px;
      color: whitesmoke;
    }
  
  
    .adsicons a {
      font-size: 0.5em;
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons {
      color: whitesmoke;
      padding: 0px 5px;
      overflow: hidden;
      font-size: 0.8rem;
    }
  
  
  
    .addetails {
  
  
  
  
  
      display: flex;
  
  
    }
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 0.7em;
      font-weight: normal;
  
  
    }
  
  
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.5em;
  
  
  
    }
  
  }
  
  
  
  
  @media screen and (max-width:900px) {
    .call {
  
  
   
      margin: 0px 0px;
  
      gap: 50px;
  
    }
  
  
    .adspages {
  
      display: block;
  
    }
  
  
  
    .ada {
  
  
  
      /* height: 950px; */
  
      display: block;
      padding: 15px 15px;
    }
  
    .adsimgcard img {
      max-width: 180px;
    }
    
    .prorightline {
  
  
  
  
      display: none;
        }
    .closememu {
      font-size: 1rem;
      color: whitesmoke;
      display: flex;
      padding: 10px 15px;
    }
  
    .productleft {
      height: 900%;
      padding: 4px 4px;
      margin-left: 0px;
      border-radius: 0px;
    }
  
  
    .adssreach {
      color: white;
      display: flex;
      margin-top: 50px;
      align-items: center;
  
      justify-content: center;
    }
  
    .adssreach input {
  
  
      height: 50px;
      
      width: 600px;
    }
  
  
    .adssreach i {
  
  
  
  
  
      display: none;
    }
  
  
  
  
    .productleft h1 {
  
  
  justify-content: start;
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: 1.6em;
    }
  
    
    .adsline a {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  .fliterbutton{
    display: inline;
  }
    
  
    .productsocial {
  
  
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: start;
  
    }
  
  
  
    .productsocial ul {
  
      display: block;
      justify-content: start;
    }
  
    .modal-button {
      cursor: pointer;
    }
  
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-100%);
    }
  
    .modal.show {
      transform: translateX(0);
    }
  
    .productleft {
    
      display: block;
      
      width: 100%;
      align-items: center;
    }
    .productleft h1{
      margin-bottom: 0px;
    }
  
  
    .productsocial ul li {
  
  
  
  
      display: flex;
      justify-content: start;
      padding: 6px 10px;
      font-size: 1.1em;
    }
  
  
    .productsocial ul li i {
  
  
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  
    .links {
      background-color: #0D000D;
      color: rgb(47, 146, 138);
  
      padding: 6px 20px;
      display: flex;
    }
  
    .proright {
      margin-top: 30px;
      display: block;
      width: 100%;
      margin-left: 0px;
      color: whitesmoke;
      padding: 10px 0px;
    }
  
    .adsicons a {
      font-size: 0.6em;
  
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .catsocial {
      max-height: 530px;
  
      display: flex;
      justify-content: start;
    }
  
    .cat-social-list li {
      display: flex;
      justify-content: start;
    }
  
    .cat-social-list li a {
  
      font-size: 0.99rem;
      padding: 1px 10px;
    }
  
    .buttonofleftscolling {
      background: none;
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      padding: 10px 20px;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
    .leftscoll h1 {
      display: flex;
      padding: 10px 20px;
  
      justify-content: start;
      font-weight: 600;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px 20px;
      font-size: 1.1rem;
    }
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-11%);
    }
  
    .fliterbutton {
      color: rgb(47, 146, 138);
      position: relative;
      right: 0px;
      left: -20px;
  
    }
  
    .prorightlinks {
  
      overflow-x: auto;
      white-space: nowrap;
  
    }
  
  
    .prorightlinks li {
  
  
      list-style-type: none;
      margin-right: 10px;
  
  
    }
    .proright ul{
      margin-left: 0px;
      padding: 0px 0px;
    }
  
    .productsocial span {
      display: none;
    }
  
    .links-list .links {
  
      font-size: 1em;
      padding: 10px 19px;
  
  
    }
  
  
  
  
  
    .links-list {
  
      display: inline-flex;
      padding: 10px;
    }
  
  
    .rightscrolling {
  
  
  
      overflow-y: scroll;
  
  
  
  
      height: 90%;
      padding: 0 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  
    .adsimgcard img {
  
  
  
  
  
      height: auto;
      width: 270px;
      border-radius: 10px;
  
    }
  
  
  
  
    .addetails {
  
  
  
  
  
      display: block;
  
  
    }
  
  
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1em;
      font-weight: normal;
  
  
    }
  
  
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.7em;
  
  
  
    }
  
  
  
  
  
  
  }
  
  
  
  @media screen and (max-width:600px) {
    .call {
  
  
   
      margin: 0px 0px;
  
      gap: 30px;
  
    }
    
  
  
    .adspages {
  
      display: block;
  
    }
  
    .proright ul{
      margin-left: 0px;
      padding: 0px 0px;
    }
  
    .ada {
  
  
  
  
  
      display: block;
      padding: 15px 15px;
    }
  
  
    
    .prorightline {
  
  
  
  
      display: none;
        }
    .closememu {
      font-size: 1rem;
      color: whitesmoke;
      display: flex;
      padding: 10px 15px;
    }
  
    .productleft {
      height: 900%;
      padding: 4px 4px;
      margin-left: 0px;
      border-radius: 0px;
    }
  
  
    .adssreach {
      color: white;
      display: flex;
      margin-top: 40px;
      align-items: center;
  
      justify-content: center;
    }
  
    .adssreach input {
  
  
      height: 50px;
      
      width: 350px;
    }
  
  
    .adssreach i {
  
  
  
  
  
      display: none;
    }
  
  
  
  
    .productleft h1 {
  
  
  justify-content: start;
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: 1.6em;
    }
  
    
    .adsline a {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  .fliterbutton{
    display: inline;
  }
    
  
    .productsocial {
  
  
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: start;
  
    }
  
  
  
    .productsocial ul {
  
      display: block;
      justify-content: start;
    }
  
    .modal-button {
      cursor: pointer;
    }
  
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-100%);
    }
  
    .modal.show {
      transform: translateX(0);
    }
  
    .productleft {
    
      display: block;
      
      width: 100%;
      align-items: center;
    }
    .productleft h1{
      margin-bottom: 0px;
    }
  
  
    .productsocial ul li {
  
  
  
  
      display: flex;
      justify-content: start;
      padding: 6px 10px;
      font-size: 1.1em;
    }
  
  
    .productsocial ul li i {
  
  
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  
    .links {
      background-color: #0D000D;
      color: rgb(47, 146, 138);
  
      padding: 6px 20px;
      display: flex;
    }
  
    .proright {
      margin-top: 30px;
      display: block;
      width: 100%;
      height: auto;
      margin-left: 0px;
      color: whitesmoke;
      padding: 6px 0px;
    }
  
    .adsicons a {
      font-size: 0.6em;
  
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .catsocial {
      max-height: 530px;
  
      display: flex;
      justify-content: start;
    }
  
    .cat-social-list li {
      display: flex;
      justify-content: start;
    }
  
    .cat-social-list li a {
  
      font-size: 0.99rem;
      padding: 1px 10px;
    }
  
    .buttonofleftscolling {
      background: none;
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      padding: 10px 20px;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
    .leftscoll h1 {
      display: flex;
      padding: 10px 20px;
  
      justify-content: start;
      font-weight: 600;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px 20px;
      font-size: 1.1rem;
    }
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-11%);
    }
  
    .fliterbutton {
      color: rgb(47, 146, 138);
      position: relative;
      right: 0px;
      left: -20px;
  
    }
  
    .prorightlinks {
  
      overflow-x: auto;
      white-space: nowrap;
  
    }
  
  
    .prorightlinks li {
  
  
      list-style-type: none;
      margin-right: 10px;
  
  
    }
  
    .productsocial span {
      display: none;
    }
  
    .links-list .links {
  
      font-size: 1em;
      padding: 10px 19px;
  
  
    }
  
  
  
  
  
    .links-list {
  
      display: inline-flex;
      padding: 10px;
    }
  
  
    .rightscrolling {
  
  
  
      overflow-y: scroll;
  
  
  
  
      height: 550px;
      padding: 0 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  
    .adsimgcard img {
  
  
  
  
  
      height: auto;
      width: 210px;
      border-radius: 20px;
  
    }
  
  
  
  
    .addetails {
  
  
  
  
  
      display: block;
  
  
    }
  
  
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1em;
      font-weight: normal;
  
  
    }
  
  
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.7em;
  
  
  
    }
  
  
  
  
  
  
  }
  
  
  
  @media screen and (max-width:460px) {
    .call {
      margin: 10px 0px;
      gap: 20px;
    }
  
  
    .adspages {
  
      display: block;
  
    }
    .proright ul{
      margin-left:-15px;
      padding: 0px 0px;
    }
  
  
  
    .ada {
  
  
  
  
  
      display: block;
      padding: 10px 15px;
    }
  
  
    
    .prorightline {
  
  
  
  
      display: none;
        }
    .closememu {
      font-size: 1rem;
      color: whitesmoke;
      display: flex;
      padding: 10px 15px;
    }
  
    .productleft {
      height: 900%;
      padding: 4px 4px;
      margin-left: 0px;
      border-radius: 0px;
    }
  
  
    .adssreach {
      color: white;
      display: flex;
      margin-top: 40px;
      align-items: center;
  
      justify-content: center;
    }
  
    .adssreach input {
      height: 50px;
      width: 300px;
    }
  
  
    .adssreach i {
  
  
  
  
  
      display: none;
    }
  
  
  
  
    .productleft h1 {
  
  
  justify-content: start;
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: 1.6em;
    }
  
    
    .adsline a {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  .fliterbutton{
    display: inline;
  }
    
  
    .productsocial {
  
  
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: start;
  
    }
  
  
  
    .productsocial ul {
  
      display: block;
      justify-content: start;
    }
  
    .modal-button {
      cursor: pointer;
    }
  
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-100%);
    }
  
    .modal.show {
      transform: translateX(0);
    }
  
    .productleft {
    
      display: block;
      
      width: 100%;
      align-items: center;
    }
    .productleft h1{
      margin-bottom: 0px;
    }
  
  
    .productsocial ul li {
  
  
  
  
      display: flex;
      justify-content: start;
      padding: 6px 10px;
      font-size: 1.1em;
    }
  
  
    .productsocial ul li i {
  
  
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  
    .links {
      background-color: #0D000D;
      color: rgb(47, 146, 138);
  
      padding: 6px 20px;
      display: flex;
    }
  
    .proright {
      margin-top: 20px;
      display: block;
      width: 100%;
      margin-left: 0px;
      color: whitesmoke;
      padding: 10px 10px;
    }
    
  
  
    .adsicons a {
      font-size: 0.6em;
  
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .catsocial {
      max-height: 620px;
  
      display: flex;
      justify-content: start;
    }
  
    .cat-social-list li {
      display: flex;
      justify-content: start;
    }
  
    .cat-social-list li a {
  
      font-size: 0.99rem;
      padding: 3px 10px;
    }
  
    .buttonofleftscolling {
      background: none;
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      padding: 10px 20px;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
    .leftscoll h1 {
      display: flex;
      padding: 10px 20px;
  
      justify-content: start;
      font-weight: 600;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px 20px;
      font-size: 1.1rem;
    }
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-11%);
    }
  
    .fliterbutton {
      color: rgb(47, 146, 138);
      position: relative;
      right: 0px;
      left: -20px;
  
    }
  
    .prorightlinks {
  
      overflow-x: auto;
      white-space: nowrap;
  
    }
  
  
    .prorightlinks li {
  
  
      list-style-type: none;
      margin-right: 10px;
  
  
    }
  
    .productsocial span {
      display: none;
    }
  
    .links-list .links {
  
      font-size: 1em;
      padding: 10px 19px;
  
  
    }
  
  
  
  
  
    .links-list {
  
      display: inline-flex;
      padding: 10px;
    }
  
  
    .rightscrolling {
  
  
  
      overflow-y: scroll;
  
  
  
  
      height: 555px;
      padding: 0 0px;
      margin-top: 15px;
  
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  
    .adsimgcard img {
  
  
  
  
  
      height: auto;
      width: 170px;
      border-radius: 20px;
  
    }
  
  
  
  
    .addetails {
  
  
  
  
  
      display: block;
  
  
    }
  
  
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 1em;
      font-weight: normal;
  
  
    }
  
  
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.7em;
  
  
  
    }
  
  
  
  
  
  
  }
  
  
  @media screen and (max-width: 430px){
    .rightscrolling{
      height: 598px;
    }
  }
  
  @media screen and (max-width:414px) {
    .rightscrolling{
      height: 563px;
    }
  }
  @media screen and (max-width:412px) {
    .rightscrolling{
      height: 597px;
    }
  }
  
  
  @media screen and (max-width:409px) {
    .call {
  
  
   
      margin: 0px 0px;
  
      gap: 16px;
  
    }
  .adsinfo{
    margin-top: 5px;
  }
  
    .adspages {
  
      display: block;
  
    }
  
  
  
    .ada {
  
  
  
  
  
      display: block;
      padding: 0px 15px;
    }
  
  
    
    .prorightline {
      display: none;
        }
    .closememu {
      font-size: 1rem;
      color: whitesmoke;
      display: flex;
      padding: 10px 15px;
    }
  
    .productleft {
      height: 900%;
      padding: 4px 4px;
      margin-left: 0px;
      border-radius: 0px;
    }
  
  
    .adssreach {
      color: white;
      display: flex;
      margin-top: 40px;
      align-items: center;
  
      justify-content: center;
    }
  
    .adssreach input {
  
  
      height: 50px;
      
      width: 300px;
    }
  
  
    .adssreach i {
  
  
  
  
  
      display: none;
    }
  
  
  
  
    .productleft h1 {
  
  
  justify-content: start;
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: 1.6em;
    }
  
    
    .adsline a {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(216, 215, 215, 0.267);
    }
  .fliterbutton{
    display: inline;
  }
    
  
    .productsocial {
  
  
      overflow: hidden;
      width: 100%;
      display: flex;
      justify-content: start;
  
    }
  
  
  
    .productsocial ul {
  
      display: block;
      justify-content: start;
    }
  
    .modal-button {
      cursor: pointer;
    }
  
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-100%);
    }
  
    .modal.show {
      transform: translateX(0);
    }
  
    .productleft {
    
      display: block;
      
      width: 100%;
      align-items: center;
    }
    .productleft h1{
      margin-bottom: 0px;
    }
  
  
    .productsocial ul li {
  
  
  
  
      display: flex;
      justify-content: start;
      padding: 6px 10px;
      font-size: 1.1em;
    }
  
  
    .productsocial ul li i {
  
  
  
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  
    .links {
      background-color: #0D000D;
      color: rgb(47, 146, 138);
  
      padding: 6px 20px;
      display: flex;
    }
  
    .proright {
      margin-top: 30px;
      display: block;
      width: 100%;
      height: 600px;
      margin-left: 0px;
      color: whitesmoke;
      padding: 10px 10px;
    }
  
    .adsicons a {
      font-size: 0.6em;
  
      margin-left: 0px;
      color: whitesmoke;
    }
  
    .adsicons i {
      padding: 0px 4px;
      color: whitesmoke;
    }
  
    .catsocial {
      max-height: 530px;
  
      display: flex;
      justify-content: start;
    }
  
    .cat-social-list li {
      display: flex;
      justify-content: start;
    }
  
    .cat-social-list li a {
  
      font-size: 0.99rem;
      padding: 1px 10px;
    }
  
    .buttonofleftscolling {
      background: none;
      border: none;
      background-color: transparent;
      color: white;
      display: flex;
      padding: 10px 20px;
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
    .leftscoll h1 {
      display: flex;
      padding: 10px 20px;
  
      justify-content: start;
      font-weight: 600;
    }
  
  
    .leftscoll h2 {
      display: flex;
      font-weight: normal;
      padding: 10px 20px;
      font-size: 1.1rem;
    }
  
    .translatedDiv {
      overflow: hidden;
      transition: transform 0.2s ease-in-out;
    }
  
    .translatedDiv.slide-left {
      transform: translateX(-11%);
    }
  
    .fliterbutton {
      color: rgb(47, 146, 138);
      position: relative;
      right: 0px;
      left: -20px;
  
    }
  
    .prorightlinks {
  
      overflow-x: auto;
      white-space: nowrap;
  
    }
  
  
    .prorightlinks li {
  
  
      list-style-type: none;
      margin-right: 10px;
  
  
    }
  
    .productsocial span {
      display: none;
    }
  
    .links-list .links {
  
      font-size: 1em;
      padding: 10px 19px;
  
  
    }
  
  
  
  
  
    .links-list {
  
      display: inline-flex;
      padding: 10px;
    }
  
  
    
    .rightscrolling {
      overflow-y: scroll;
      height: 510px;
      padding: 0 0px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  
    .adsimgcard img {
  
  
  
  
  
      height: auto;
      width: 160px;
      border-radius: 10px;
  
    }
  
  
  
  
    .addetails {
  
  
  
  
  
      display: block;
  
  
    }
  
  
  
    .adsinfo h1 {
  
  
  
  
  
  
  
  
      font-size: 0.8em;
      font-weight: normal;
  
  
    }
  
  
  
  
    .adsinfo a {
  
  
  
  
  
      font-size: 0.6em;
  
  
  
    }
  
  
  
  
  
  
  }
  
  @media screen and (max-width:376px){
    .proright {
      margin-top: 30px;
      display: block;
      width: 100%;
      height: auto;
      margin-left: 0px;
      color: whitesmoke;
      padding: 10px 10px;
    }
    .call{
      margin: 0px 0px;
  
      gap: 14px;
    }
    .adsimgcard img {
      height: auto;
      width: 150px;
      border-radius: 10px;
  
    }
    .rightscrolling {
      overflow-y: scroll;
      height: 360px;
      padding: 0 0px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  }
  
  @media screen and (max-width:360px)
  {
  
    .adssreach input {
  
  
      height: 50px;
      
      width: 250px;
    }
  
    .call{
      margin: 0px 0px;
  
      gap: 16px;
    }
    .rightscrolling {
      height: 560px;
    }
    .adsimgcard img {
      height: auto;
      width: 590px;
      border-radius: 10px;
  
    }
  }
  
  .call {
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
  
  }
  
  
  .productleft {
    color: rgb(47, 146, 138);
    overflow: hidden;
  }
  

  .links-list .link {
    @media (max-width:375px) {
      font-size: 1em;
  
  
    }
  }
  

  .links-list {
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .prorightlinks::-webkit-scrollbar {
    display: none;
  }
  
  
  .productleft {
    color: rgb(47, 146, 138);
    text-transform: capitalize;
  
    background-color: #050F14;
  
  }
  
  
  
  .proright {
    background-color: #050F14;
  }
  
  .cat-social-list a {
    padding: 0px 10px;
  }
  
  
  .cat-social-list li {
    display: flex;
    align-items: center;
    padding: 10px 10px;
  }
  
  .productsmenu {
    align-items: center;
  }
  
  
  .checkboxs {
  
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .checkboxs:checked {
    background-color: transparent;
    border-color: #007bff;
  }
  
  
  .checkboxs:checked::after {
    content: '\2713';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #fff;
  }
  
  
  .rightscrolling::-webkit-scrollbar {
    display: none;
  }
  
  .rightscrolling {
    -ms-overflow-style: none;
  
    scrollbar-width: none;
  }
  
  .catsocial::-webkit-scrollbar {
    display: none;
  
  }
  
  .catsocial {
    -ms-overflow-style: none;
  
    scrollbar-width: none;
  }
  
  .call {
    display: flex;
  }